<div class="container col s12 center">
<div class="container">
<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table border="0" cellspacing="5" cellpadding="5">
		<tr valign="top">
			<td>
          <div class="input-field">
            <%= form.label :first_name, :class=> "active heading" %>
            <%= form.text_field :first_name %>
          </div>
        
          <div class="input-field">
            <%= form.label :last_name, :class=> "active heading" %>
            <%= form.text_field :last_name %>
          </div>
        
          <div class="input-field">
            <%= form.label :ssn, :class=> "active heading" %>
            <%= form.text_field :ssn %>
          </div>
        
          <div class="input-field">
        		<%= form.label :date_of_birth, :class=> "active heading" %>
        		<%= form.text_field :date_of_birth, prompt: "Date of Birth", class: "datepicker1", :value => (form.object.date_of_birth.strftime('%B %d, %Y') if form.object.date_of_birth != nil)%>
          </div>
        
          <div class="input-field">
            <%= form.label :phone, :class=> "active heading" %>
            <%= form.text_field :phone %>
          </div>
        
          <div class="input-field col s6">
            <%= form.label :phone, :class=> "active heading" %>
            <%= form.text_field :phone %>
          </div>
        
          <div class="input-field">
            <%= form.label :role, :class=> "active heading" %>
            <%= form.select :role, ['employee', 'manager', 'admin'], :prompt => "Select Employee Role" %>
          </div>
        
          <div class="input-field">
            <%= form.label :active, :class=> "active heading" %><br/>
            <%= form.select :active, ['true', 'false'], :prompt => "Select true or false"  %>
          </div>
        
        
          <div class="actions center-align">
    			  <%= form.submit :class=>"waves-effect waves-red deep-orange darken-4 hoverable btn white-text" %>
    			  <%= link_to 'Cancel', employees_path, :class => 'waves-effect waves-red deep-orange darken-4 hoverable btn white-text' %>
  			  </div>
      </td>
    </tr>
  </table>
  
</div>
</div>
    <footer class="page-footer" id="form">
      <div class="container">
      <div class="row">
        <div class="col s12 center">
        <%= render partial: 'partials/footer' %>
        </div>
      </div>
      </div>
    </footer>

<% end %>

