<p id="notice"><%= notice %></p>

  <h2 class="heading">Assignment Details:</h2><br/>
<table class="bordered highlight centered responsive-table">
  <thead>
    <tr>
      <th class="heading">Start Date</th>
      <th class="heading">End Date</th>
      <th class="heading">Pay Level</th>
      <th class="heading">Store Name</th>
      <th class="heading">Employee Lastname</th>

    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td class="heading"><%= @assignment.start_date %></td>
        <td class="heading"><%= @assignment.end_date %></td>
        <td class="heading"><%= @assignment.pay_level %></td>
        <td class="heading"><%= @assignment.store.name %></td>
        <td class="heading"><%= @assignment.employee.last_name %></td>
 
<div class="row center-align">
  <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_assignment_path%>><i class="material-icons left">note_add</i>Add Assgmt</a></li>
<a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= edit_assignment_path(@assignment) %>><i class="material-icons left">edit</i>Edit</a></li>
<a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= assignments_path %>><i class="material-icons left">arrow_back</i> Assgmts List </a></li>
</div>
