<div class="container">
<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table border="0" cellspacing="5" cellpadding="5">
		<tr valign="top">
			<td>
          <div class="input-field col s6">
            <%= form.label :name, :class=> "active" %>
            <%= form.text_field :name %>
          </div>
        
          <div class="input-field col s6">
            <%= form.label :street, :class=> "active" %>
            <%= form.text_field :street %>
          </div>
        
          <div class="input-field col s6">
            <%= form.label :city, :class=> "active" %>
            <%= form.text_field :city %>
          </div>
        
          <div class="input-field col s6">
            <%= form.label :state, :class=> "active" %><br/>
            <%= form.select :state, ['PA', 'OH', 'WV'], :prompt => "Select State" %>
          </div>
        
          <div class="input-field col s6">
            <%= form.label :zip, :class=> "active" %>
            <%= form.text_field :zip %>
          </div>
        
          <div class="input-field col s6">
            <%= form.label :phone, :class=> "active" %>
            <%= form.text_field :phone %>
          </div>
        
          <div class="input-field">
            <%= form.label :latitude, :class=> "active" %>
            <%= form.text_field :latitude %>
          </div>
        
          <div class="input-field">
            <%= form.label :longitude, :class=> "active" %>
            <%= form.text_field :longitude %>
          </div>
        
          <div class="input-field">
            <%= form.label :active, :class=> "active" %><br/>
            <%= form.select :active, ['true', 'false'], :prompt => "Select true or false" %>
          </div>
        
          <div class="actions">
    			  <%= form.submit :class=>"btn waves-effect waves-light" %>
    			  <%= link_to 'Cancel', assignments_path, :class => 'waves-effect waves-light btn red' %>
  			  </div>
      </td>
    </tr>
  </table>
</div>
<% end %>
