<p id="notice"><%= notice %></p>

  <h2 class="heading">Store Details:</h2><br/>
<table class="bordered highlight centered responsive-table">
  <thead>
    <tr>
      <th class="heading">Name</th>
      <th class="heading">Street</th>
      <th class="heading">City</th>
      <th class="heading">State</th>
      <th class="heading">Zip</th>
      <th class="heading">Phone</th>
      <th class="heading">Latitude</th>
      <th class="heading">Longitude</th>
      <th class="heading">Active</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td class="heading"><%= @store.name %></td>
        <td class="heading"><%= @store.street %></td>
        <td class="heading"><%= @store.city %></td>
        <td class="heading"><%= @store.state %></td>
        <td class="heading"><%= @store.zip %></td>
        <td class="heading"><%= @store.phone %></td>
        <td class="heading"><%= @store.latitude %></td>
        <td class="heading"><%= @store.longitude %></td>
        <td class="heading"><%= @store.active %></td>
 
<div class="row center-align">
  <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_store_path%>><i class="material-icons left">add_location</i>Add a Store</a></li>
<a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= edit_store_path(@store) %>><i class="material-icons left">edit</i>Edit</a></li>
<a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%=  stores_path %>><i class="material-icons left">arrow_back</i>Store List</a></li>
</div>