<!--Put all the elements in a container div spanning all 12 columns of the web page - Using Materialize -->
<div class="container col s12 center">
  <div class="container">
  <!-- Generate a form with the model of job and the variable 'form' being the main object -->
  <%= form_with(model: job, local: true) do |form| %>
    <!-- If there are any errors while defining job-->
    <% if job.errors.any? %>
      <!-- Then give this explanation along with the number of errors -->
      <div id="error_explanation">
        <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>
        <ul>
        <!--Print the errors here then-->a6
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <!--Create the table with the form in it-->
  	<table border="0" cellspacing="5" cellpadding="5">
  		<tr valign="top">
  			<td>
          <div class="input-field">
            <!--the active class prevents the field label overlapping with the field data-->
            <%= form.label :name, :class=> "active heading" %>
            <%= form.text_field :name %>
          </div>
          
          <div class="input-field">
            <%= form.label :description, :class=> "active heading" %>
            <%= form.text_field :description %>
          </div>
          
          
          <div class="input-field">
            <%= form.label :active, :class=> "active heading" %><br/>
            <%= form.select :active, ['true', 'false'], :prompt => "Select true or false" %>
          </div>
          
            <!--Submit & Cancel buttons-->
            <div class="actions center-align">
      			  <%= form.submit :class=>"waves-effect waves-red deep-orange darken-4 hoverable btn white-text" %>
      			  <%= link_to 'Cancel', admin_jobs_view_index_path, :class => 'waves-effect waves-red deep-orange darken-4 hoverable btn white-text' %>
    			  </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<!--Init the footer with ID = form for styling purposes-->
<footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <%= render partial: 'partials/footer' %>
      </div>
    </div>
    </div>
</footer>

<% end %>
