<!DOCTYPE html>
<html>
<head>

<!--Define custom css for links-->
<style type="text/css">
  a:link {color: black;}      /* unvisited link */
  a:visited {color: black;}   /* visited link */
  a:hover {color: black;}     /* mouse over link */
  a:active {color: black;}    /* selected link */
</style>

<!--Reference to the Title in the webpage tab and then :: + the name of the page's controller and the action defined within-->
<title>The A&M Creamery Admin HUB :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>

<!--Refers to the stylesheet for the page-->
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

</head>
<body>

<!-- Full definition of the top nav bar-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Compiled and minified CSS -->


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


  <!--Code for the actual nav bar-->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <img class="logo" src="/assets/Logo.png"></img>
        <a href="/" class="brand-logo heading">The A&M Creamery</a>
        <ul class="right">
          <li><a class="dropdown-button white-text" href=<%= admin_stores_view_index_path %>>Stores<i class="material-icons left">local_mall</i></a></li>
          <li><a class="dropdown-button white-text" href=<%= admin_employees_view_index_path %>>Employees<i class="material-icons left">person</i></a></li>
          <li><a class="dropdown-button white-text" href=<%= admin_manager_views_index_path  %>>Managers<i class="material-icons left">group</i></a></li>          
          <li><a class="dropdown-button white-text" href=<%= admin_assignments_view_index_path %>>Assignments<i class="material-icons left">assignment</i></a></li>
          <li><a class="dropdown-button white-text" href=<%= admin_jobs_view_index_path  %>>Jobs<i class="material-icons left">assignment</i></a></li>
          <li><a class="dropdown-button white-text" href=<%= admin_shifts_view_index_path %>>Shifts<i class="material-icons left">access_time</i></a></li>
          <li><a class="dropdown-button white-text" href=<%= admin_shift_jobs_view_index_path %>>Shift-Jobs<i class="material-icons left">timelapse</i></a></li>
          <li><a class="dropdown-button white-text" href=<%= admin_flavors_index_path %>>Flavors<i class="material-icons left">view_list</i></a></li>
          <li><a class="dropdown-button white-text" href=<%= show_employee_path(Employee.find(session[:user_id])) %>>Profile<i class="material-icons left">person</i></a></li>
          <li><a class="dropdown-button white-text" href=<%= logout_path %>>Logout<i class="material-icons left">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>
  </div>

<p id="notice"><%= notice %></p>

<h2 class="heading">All Store Flavors</h2>
<!--Create table headings with details of employees-->
<table class="bordered highlight centered responsive-table">
  <thead>
    <tr>
      <th class="heading">Store ID</th>
      <th class="heading">Flavor ID</th>
      <div class="center-align">
      <!--Link to add a new employee with a button-->
      <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_store_flavor_path %>><i class="material-icons left">add</i>Add Store Flavor</a></li>
      </div>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <!--Create the body of the table with links to the fields of the schema -->
  <tbody>
    <% @storeflavors = StoreFlavor.all %>
    <% @storeflavors.each do |store_flavor| %>
      <tr>
        <td class="heading"><%= store_flavor.store.id %></td>
        <td class="heading"><%= store_flavor.flavor.id %></td>  
        <!--3 buttons with each employee record to view info, edit and delete it respectively-->
        <td class="heading"><a class="waves-effect waves-circle waves-light deep-orange darken-4 btn-floating secondary-content" href=<%= store_flavor_path(store_flavor) %>><i class="material-icons left">info</i></a></td>
        <td class="heading"><a class="waves-effect waves-circle waves-light deep-orange darken-4 btn-floating secondary-content" href=<%= edit_store_flavor_path(store_flavor) %>><i class="material-icons left">edit</i></a></td></td>
        <td class="heading"><%= button_to "Del", store_flavor, data: {confirm: "Are you sure?" }, method: :delete, :class=>"waves-effect waves-circle waves-light deep-orange darken-4 btn-floating secondary-content" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!--initializes the footer-->  
<footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
  <!--puts the footer elements in a straight row-->
  <div class="row">
    <!--stretches the footer across the enter 12-columned page-->
    <div class="col s12 center">
<!--JQuery script source to help with "Scroll to Top" button - taken from a website -->
<script src=”https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js”></script>

<!--Div to hold the copyright and Webmaster info-->
<div id="copyright" class="white-text">
    <a class="btn-floating waves-effect waves-red deep-orange darken-4 hoverable btn" href=<%= admin_hub_index_path %>><i class="material-icons left">home</i></a></li>
    <a id="button" class="btn-floating waves-effect waves-red deep-orange darken-4 hoverable" href="#"><i class="material-icons left">vertical_align_top</i></a></li>
    <br /><br/>
    <div class="container">
        Webmaster: <%= mail_to "mrizwan@qatar.cmu.edu", "Muhammad Taimur Rizwan", :encode => "javascript" %>
        | © 2019 Copyright |
        <a href=<%= about_index_path %>>About</a> |
        <a href=<%= contact_index_path %>>Contact Us</a> |
        <a href=<%= privacy_index_path %>>Privacy Policy</a>
    </div>
    <br /><br />
</div>
    </div>
  </div>
</footer>