<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  /*Makes the links black in color*/
  a:link {color: black;}      /* unvisited link */
  a:visited {color: black;}   /* visited link */
  a:hover {color: black;}     /* mouse over link */
  a:active {color: black;}    /* selected link */

  /*Makes the links white in color*/
  nav ul li a{
  color: white;
} 
</style>
  <title>The Amazing & Marvelous Creamery :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  
    <!-- Gets the data from the file quick links -->

    <!-- Gets data from any page that has the yield -->
  

</body>
  <%= yield %>

<!--sources the javascript file and the stylesheet, also formats the toasts-->
<%= javascript_include_tag "application" %>
<% flash.each do |message_type, message| %>
<%= javascript_tag "Materialize.toast('#{message}', classes: 'rounded', 4000)" %>
<% end %>
</html>
