<!DOCTYPE html>
<html>
<head>

<!--Define custom css for links-->
<style type="text/css">
  a:link {color: black;}      /* unvisited link */
  a:visited {color: black;}   /* visited link */
  a:hover {color: black;}     /* mouse over link */
  a:active {color: black;}    /* selected link */
</style>

<!--Reference to the Title in the webpage tab and then :: + the name of the page's controller and the action defined within-->
<title>The Amazing & Marvelous Creamery :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>

<!--Refers to the stylesheet for the page-->
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

</head>
<body>

<!--Provides the structure for the top nav strip containing the logo-->
<div class = "row">
  <nav>
    <!--Uses Materialize's inbuilt nav-wrapper class-->
    <div class="nav-wrapper">
      <img class="logo" src="/assets/Logo.png"></img>
      <a href="/" class="brand-logo center heading">A&M Creamery</a>
    </div>
  </nav>
</div>


<!--NOTE -> THE STRUCTURE USED ON THIS PAGE IS IDENTICALLY REPEATED FOR ALL 3 CARDS. COMMENTS ARE ADDED FOR THE FIRST AND PARTLY THE 
SECOND CARD, AND THE THIRD CARD USES THE SAME STRUCTURE AS THE FIRST TWO CARDS-->

<!--Uses Materialize to add a line divider-->
<div class="divider"></div>
  <!--Uses Materialize to isolate a section for the Header of the app-->
  <div class="section">
    <h2 class="heading">Admin Controls</h2>
  </div>
<div class="divider"></div>

<!--Uses Materialize container to hold all the elements nicely-->
<div class="container">
  <!--Uses Materialize to put all 3 cards in the same row-->
  <div class="row">
    <!--Divides the page into the Materialize grid-left 4 columns in this div-->
    <div class="col s4 left">
      <!--Within these 4 columns, uses 10 of the mini columns-->
      <div class="col s10">
        <!--Uses all 12 of the mini columns with height m12-->
        <div class="col s12 m12">
          <!--Uses Materialize's inbuilt card class to create the homepage cards-->
          <div class="card small">
            <div class="card-image">
              <img class="card-image" src="/assets/store.png">
            </div>
            <!--Uses the div to align the links on the cards-->
            <div class="card-action center-align">
              <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_store_path %>>New Store</a></li>
              <br/><br/>
              <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= stores_path %>>List All</a></li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Isolates the 4 columns in the center of the page for the center card-->
    <div class="col s4 center">
      <!--Within these 4 columns, uses 10 of the mini columns-->
      <div class="col s10">
        <!--Uses all 12 of the mini columns with height m12-->
        <div class="col s12 m12">
          <div class="card small">
            <div class="card-image">
              <img class="card-image" src="/assets/employee.png">
            </div>
            <div class="card-action center-align">
              <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_employee_path %>>New Employee</a></li>
              <br/><br/>
              <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= employees_path %>>List All</a></li>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col s4 right">
      <div class="col s10">
        <div class="col s12 m12">
          <div class="card small">
            <div class="card-image">
              <img class="card-image" src="/assets/assignment.png">
            </div>
            <div class="card-action center-align">
              <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= new_assignment_path %>>New Assgmt</a></li>
              <br/><br/>
              <a class="waves-effect waves-red deep-orange darken-4 hoverable btn white-text" href=<%= assignments_path %>>List All</a></li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--initializes the footer-->  
<footer class="page-footer">
  <!--puts the footer elements in a straight row-->
  <div class="row">
    <!--stretches the footer across the enter 12-columned page-->
    <div class="col s12 center">
      <%= render partial: 'partials/footer' %>
    </div>
  </div>
</footer>

</body>

<!--refers to the error message styling/toasts-->
<%= javascript_include_tag "application" %>
<% flash.each do |message_type, message| %>
<%= javascript_tag "Materialize.toast('#{message}', classes: 'rounded', 4000)" %>
<% end %>
</html>
